<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/header_footer.css" rel="stylesheet" />
    <link href="/css/detalle-producto-style.css" rel="stylesheet" />
    <title>Detalle producto</title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <main class="producto">
      <div class="img-producto-container">
        <button class="img-producto-arrows">
          <i class="fa-solid fa-angle-left img-producto-arrow-izq"></i>
        </button>
        <img
          src="/images/products/<%= product.image %>"
          class="imagen-producto"
        />
        <button class="img-producto-arrows">
          <i class="fa-solid fa-angle-right img-producto-arrow-der"></i>
        </button>
      </div>
      <div class="info-producto">
        <% if (user) { %>
        <h2 class="nombre-producto"><%= product.name %></h2>
        <a href="/products/edit/<%= product.id %>">Editar</a>
        <a href="/products/delete/<%= product.id %>">Eliminar</a>
        <% } else { %>
        <h2 class="nombre-producto"><%= product.name %></h2>
        <% } %>
        <p class="descripcion-producto"><%= product.description %></p>
        <div>
          <p class="precio"><%= product.price %></p>
          <p class="cuotas">Paga hasta 3 cuotas sin interés</p>
        </div>
        <form class="talle">
          <label>Talle:</label>
          <select class="main-select">
            <option value="s">S</option>
            <option value="m">M</option>
            <option value="l">L</option>
            <option value="xl">XL</option>
          </select>
        </form>
        <div class="guia-talles">
          <a href="#">Guia de Talles</a>
        </div>
        <form class="cantidad">
          <label>Cantidad:</label>
          <select class="main-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </form>

        <form
          action="/products/add"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <input
            type="hidden"
            id="productId"
            name="productId"
            value="<%= product.id %>"
          />
          <button type="submit" class="agregar-carrito-btn">
            Agregar al carrito
          </button>
        </form>
        <div class="pago-envio">
          <div>
            <i class="fa-solid fa-credit-card"></i>
            <a href="#" class="metodos-pago"> Métodos de Pago</a>
          </div>
          <div>
            <i class="fa-solid fa-truck-fast"></i>
            <a href="#" class="metodos-envio">Métodos de Envío</a>
          </div>
        </div>
      </div>
    </main>

    <!-- <article class="descripcion-detalles">
      <h3>Descripción del producto</h3>
      <p>
        Tu guardarropa está lleno de remeras de running que nunca funcionaron
        como querías. Unas muy gruesas, otras muy delgadas. Algunas demasiado
        ajustadas o demasiado holgadas. En fin, pero la que siempre terminas
        usando es esta remera adidas Own the Run. Hecha con materiales
        reciclados como parte de nuestro compromiso por alcanzar la
        sostenibilidad, es una prenda que mantiene tu cuerpo cómodo durante tus
        entrenamientos largos los domingos o los 5K que corrés a la hora del
        almuerzo entre semana. No te contentes con la ropa que no te queda bien.
      </p>
      <h3>Detalles del producto</h3>
      <ul class="detalles-ul">
        <li>Corte clásico</li>
        <li>Cuello redondo</li>
        <li>Tejido de punto jersey 100 % algodón</li>
        <li>Mangas cortas</li>
        <li>Color del artículo: Yellow</li>
        <li>Número de artículo: GM3248</li>
      </ul>
    </article> -->

    <!-- <aside class="productos-similares">
      <h3>Productos Similares</h3>
      <div class="productos-similares-container">
        <button class="productos-similares-arrows">
          <i class="fa-solid fa-angle-left productos-similares-arrow-izq"></i>
        </button>
        <div class="producto-similar">
          <img src="/imgs/remera-ejemplo2.webp" class="img-producto-similar" />
          <p class="nombre-producto-similar">REMERA ESSENTIALS LOGO PEQUEÑO</p>
          <p class="precio-producto-similar">$7.499</p>
        </div>
        <div class="producto-similar">
          <img src="/imgs/remera-ejemplo3.webp" class="img-producto-similar" />
          <p class="nombre-producto-similar">REMERA ESSENTIALS LOGO GRANDE</p>
          <p class="precio-producto-similar">$8.499</p>
        </div>
        <div class="producto-similar">
          <img src="/imgs/remera-ejemplo4.webp" class="img-producto-similar" />
          <p class="nombre-producto-similar">REMERA ADIDAS MANGAS LARGAS</p>
          <p class="precio-producto-similar">$12.999</p>
        </div>
        <button class="productos-similares-arrows">
          <i class="fa-solid fa-angle-right productos-similares-arrow-der"></i>
        </button>
      </div>
    </aside> -->

    <%- include('./partials/footer') %>
  </body>
</html>
